.header-container {
  display: flex;
  gap: var(--space-sm);
}

@media screen and (max-width: 768px) {
  .header-container {
    display: block;
  }

  .subheader-container {
    margin-top: var(--space-lg);
  }
}
