/* ---- RAITOR ---- */
@font-face {
  font-family: "Raitor";
  src: url("/fonts/raitor/Raitor-Regular.ttf") format("truetype"),
    url("/fonts/raitor/Raitor-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

/* ---- POPPINS ---- */
@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

:root {
  /* --- colors --- */
  --white: #fff;
  --black: #000;
  --neon: #ffd322;
  --neon-dark: #d4b22a;
  --neon-disabled: #a0892f;

  /* --- font sizes --- */
  --font-3xs: 0.25rem;
  --font-2xs: 0.5rem;
  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-md: 1rem;
  --font-lg: 1.125rem;
  --font-xl: 1.25rem;
  --font-2xl: 1.5rem;
  --font-3xl: 1.875rem;
  --font-4xl: 2rem;

  /* --- spacing --- */
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;
  --space-2xl: 3rem;
  --space-3xl: 4rem;
  --space-4xl: 6rem;

  /* --- size --- */
  --size-xs: 1rem;
  --size-sm: 2rem;
  --size-md: 4rem;
  --size-lg: 8rem;
  --size-xl: 12rem;
  --size-2xl: 16rem;
  --size-3xl: 20rem;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  cursor: none;
}

html {
  font-size: 20px;
}

html,
body {
  height: 100dvh;
  width: 100dvw;
  overflow-x: hidden;
}

body {
  background-image: url("/png/bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--black);
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  gap: var(--space-md);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-md);
}

.cursor {
  background: none !important;
  outline: 1px solid var(--white);
  mix-blend-mode: difference;
}

@media screen and (max-width: 1600px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }

  #root {
    padding: var(--space-2xl) 0;
  }

  main {
    gap: var(--space-3xl);
  }
}
